extends layout.pug

block content
 h1 Я ПРОСТО СПИЗДИЛ КОД У ЕЖА, ТАК ЖЕ КАК ОН СПИЗДИЛ ЕГО ГДЕ-ТО ЕЩЁ
  h2 вы же понимаете, что этот педераст сам этого не сделал бы ))
  div(class='header')
    img(src='https://www.meme-arsenal.com/memes/39b89a10a58ee9d66aecad5e35dd49fc.jpg' alt='Если не загрузится, то ёжик хуй')
    p Добро пожаловать на спизженный сайт
    p тут ты найдешь котиков
 div(class='nav') 
    ul
      li 
       a(href='https://vk.com/maspok') Главная страница
      li
       a(href='https://vk.com/feed') Новости
      li
       a(href='https://vk.com/albums1650766') Галлерея
      li
       a(href='https://www.google.ru/') Поиск
      li
       a(href='https://vk.com/friends') Контакты
 div(class='first')
  div(class='content')
   p Здесь будут планы по созданию страницы 
    ol
      li накидать структуру сайта
      li обозначить приблизительный дизайн
      li придумать контент 
  div(class='content')
   p Эта страница посвящена котам и котам принадлежит
    table 
     caption ТВОРИ ДОБРО
      tr
       th Ты можешь спасти кота
       th Ты можешь любить кота
       th Ты можешь стать котом
      tr 
       th Ты можешь убить кота
       th Ты можешь ненавидеть кота
       th Ты можешь стать пидором

 div(class='footer')
  a (c)opywright by <em>Саша Колосков</em>