extends layout.pug

block content
  h1 My favourite animal is llama
  img(scr="..public/lama.jpg", alt="this is lama")
  h1 llama:
  <ul>
    <li>beautiful</li>
    <li>sweet</li>
    <li>gorgeous</li>
  </ul>
  <table border="1" width="100%" cellpadding="5">
   <tr>
    <th>reasons to love a llama</th>
    <th>reasons not to love a llama</th>
   </tr>
   <tr>
    <td>llama is a cute animal</td>
    <td>no reason</td>
  </tr>
  </table>
  h1 <a href="https://bioros.net/zhivotnye/zhivotnoe-lama-foto-opisanie-vsya-informaciya.html">read more</a>
  <div style="background-color:#8ebf42">
   <p> The ears are rather long and slightly curved inward, characteristically known as "banana" shaped. </p>
   <p> There is no dorsal hump. The feet are narrow, the toes being more separated than in the camels, each having a distinct plantar pad. The tail is short, and fibre is long, woolly and soft. </p>
  </div>

  


  