extends layout.pug

block content
 main
  div(class='header')
    div(class='logo')
     a(href="http://localhost:3000/")
      img(src='../images/kitty.jpg' alt="кисонька")
     h1 Добро пожаловать на #{name}
    p Все о кисоньках
  div(class='content')
   p Кисонька — это полукошка-полуединорог, которая излучает счастье и радость, — до тех пор, пока не превратится в своё новое воплощение: Ультра Кису. В новом обличье это огромная, ревущая боевая машина.
   div(class='advantages')
    h2 Почему кисонька?
    ul
     li Мягкая и пушистая
     li Ходит в лоток
     li Может поцарапать и покусать
   p Норма потребления корма для кисонек в день
   table
    tr
     th Вес кисоньки
     th Влажный корм
     th Сухой корм
    tr 
     td 0-1.5 кг
     td 150 гр
     td 100 гр
     
    tr 
     td 1.5-2.5 кг
     td 250 гр
     td 200 гр
   p Норма потребления воды для кисонек в день
   table
    tr
     th Вес кисоньки
     th Питьевая вода
    tr 
     td 0-1.5 кг
     td 150 мл
      
    tr 
     td 1.5-2.5 кг
     td 250 мл
      
     
    
    
      
