extends layout.pug

block content
 div(class='header')
    img(src='#' alt='picture')
    p Добро пожаловать на #{name}
    p тут ты найдешь котиков
 div(class='nav') 
    ul
      li 
       a(href='#') Главная страница
      li
       a(href='#') Новости
      li
       a(href='#') Галлерея
      li
       a(href='#') Поиск
      li
       a(href='#') Контакты
 div(class='first')
  div(class='content')
   p Здесь будут планы по созданию страницы 
    ol
      li накидать структуру сайта
      li обозначить приблизительный дизайн
      li придумать контент 
  div(class='content')
   p Эта страница посвящена котам и котам принадлежит
    ul 
      li ты можешь спасти кота
      li ты можешь любить кота
      li ты можешь стать котом
 div(class='footer')
  a (c)opywright by <em>svinomatkin krot</em>