extends layout.pug

block content
  h1 Mark Homework 2
  p My favourite animal is WOLF 
  ul 
   li One 
   li Two
   li Three 
  table
    tr  
      th Model OSI  
    tr 
      th Type of date 		
      th Level 
      th Function
    tr
      td(rowspan="3") Date
      td 7. Application 
      td Access to network services
    tr
      td 6. Presentation 
      td Data representation and encoding
    tr 
      td 5. Session 
      td Managing the communication session
    tr
      td Segments
      td 4. Transport
      td End-to-End Connection and Reliability
    tr
      td Packets
      td 3. Network
      td Path Determination and IP
    tr
      td Frames
      td 2. Date Link
      td MAC and LLC 
    tr 
      td Bits
      td 1. Physical
      td Media, Signal, andf Binary Transmission
  
  a(href="https://vk.com/club183983636") Secret league
  div 
  img(src = "https://w-dog.ru/wallpapers/5/13/534526008477440/volk-seryj-morda-vzglyad-glaza.jpg")

  