extends layout.pug

block content
 body
  header(class='header')
    div(class='social')
    div(class='adress')
    div(class='phone')
    div(class='logo')
    form(action="/submit", method="post")
      input(type="text", name="search", placeholder="Что будем искать?")
      input(type="submit", value="Найти")
    ul(class='menu-horizontal')
      li(class='menu-horizontal_basket') 
        a(href='#') Карта проезда
      li(class='menu-horizontal_basket')
        a(href='#') История заказов
      li(class='menu-horizontal_basket')
        a(href='#') Корзина
    ul(class='menu-horizontal')
      li(class='menu-horizontal_main') 
        a(href='#') Планшеты  
      li(class='menu-horizontal_main')
        a(href='#') Мобильные телефоны
      li(class='menu-horizontal_main')
        a(href='#') Mp3 Плееры
      li(class='menu-horizontal_main') 
        a(href='#') Персональные компьютеры
      li(class='menu-horizontal_main')
        a(href='#') Ноутбуки
      li(class='menu-horizontal_main')
        a(href='#') Аксессуары
      li(class='menu-horizontal_main')
        a(href='#') Бытовая техника
    ul(class='menu-horizontal')
      li(class='menu-horizontal_breadcrumbs')
        a(href='#') Главная
      li(class='menu-horizontal_breadcrumbs')
        a(href='#') Каталог
    h1 Мобильные телефоны
        
  div(class='content')
    aside
      ul(class='w-menu')
      ul(class='w-menu w-menu_filter')
    main
      div(class='produts-view')
      div(class='product-card')  