extends layout.pug

block content
  h1 Беляши
  p Времени вагон вроде, но я вечно занят
  ul 
  li В моей природе все идет строго по расписанию
  img(src="https://web-zoopark.ru/wp-content/uploads/2018/06/11-47-768x463-52.jpg")
  div(class="ololo")
   p хамелеон

