extends layout.pug

include mixins/section-template
block content

  main
    .section
      +section-line("01200", "Price & Payment Procedures")
      +section-line("01200", "Price & Payment Procedures")
      +section-line("01292", "Project Financial Information")
    .section
      +section-line("01300", "Administrative requirements")
      +section-line("01300", "Administrative requirements")
      +section-line--disabled("01315", "Professional Consulting Firms")
      +section-line("01316", "System Consulting Firms")
      +section-line("01317", "Assotiations & Professional Organizations")
      +section-line("01319", "Reference Books & Publications")
    .section
      +section-line("01400", "Quality Requirements")
      +section-line--disabled("01400", "Quality Requirements")
      .section__line.section-line
        input.section-line__input(type="text")
        span.section-line__value 6
      .section__line.section-line
        input.section-line__input(type="text")
        span.section-line__value 6
      
      
    