extends layout.pug

block content
  h1 My favourite animal is #{name}

  .toolbar
    button(type="button").toolbar__button.js-animal-move-button Двигать
    button(type="button").toolbar__button.js-animal-create-button Создать животное

  ul.animal-container
    li.animal
      .animal__title Поросёнок
      .animal__description Розовая хрюша купается в грязи

  