extends layout.pug

block content
  h1 My favourite animal is #{name}
  div.an
    p.cat How many legs does a cat have?
    ul .legs
      li a(href='Google.com') 2
      li a(href='Google.com') 4
      li a(href='Google.com') 6
      li a(href='Google.com') 7
  table
    tr
      td monkey
      td tiger
    tr
      td dog
      td cat
  img src='public/3.jpg'    
    

  