extends layout.pug

include mixins/row-block-template
block content

  body
    nav 
      h2.nav__title СЕЗОНЫ
      a(href="#").nav__prev-page
      ul.nav
        li.nav__item 
          a(href="#").nav__link 
            h2 1
        li.nav__item 
          a(href="#").nav__link 
            h2 2
        li.nav__item 
          a(href="#").nav__link.nav__link--current-page
            h2 3
        li.nav__item 
          a(href="#").nav__link 
            h2 ЭКСКЛЮЗИВ
      a(href="#").nav__next-page
    .row
      +row-block--current("img/preview_1.jpg", "#", "Preview", "20 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "28 ноября 2018")
      +row-block("img/preview_1.jpg", "#", "Preview", "21 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "29 ноября 2018")
      .ad-block.ad-block--mobile
      +row-block("img/preview_1.jpg", "#", "Preview", "22 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "30 ноября 2018")
      .ad-block.ad-block--tablet
      +row-block("img/preview_1.jpg", "#", "Preview", "23 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "1 декабря 2018")
      .ad-block.ad-block--desktop
      +row-block("img/preview_1.jpg", "#", "Preview", "24 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "2 декабря 2018")
      +row-block("img/preview_1.jpg", "#", "Preview", "25 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "3 декабря 2018")
      +row-block("img/preview_1.jpg", "#", "Preview", "26 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "4 декабря 2018")
      +row-block("img/preview_1.jpg", "#", "Preview", "27 серия 3 сезон", "Леша с дедом решают заработать на старых вещах Антона, пока тот не видит Леша с дедом решают заработать на старых вещах Антона, пока тот не видит", "5 декабря 2018")
      
    



      
  
  
