h1 {
  color: rgb(80, 63, 40);
  padding-top: 20px;
  font-family: Geneva, Arial, Helvetica, sans-serif;
   }
body {
  height: 100%;
  width: 1000px;
  margin: 0 auto
}
.sm_icons {
  display: block;
  width: 30px;
  height: 30px;
}
.menu-horizontal {
  display: flex;
}
.header {
 
}
.social {
  display: flex;
}
.phone {
  position: relative;
  margin-left: 10em;

}