body {
  margin: 0;
  padding: 0;
}

.header__nav {
  height: 50px;
  box-sizing: border-box;
  padding-top:  0.1px;
}

.header__list {
  padding-left: 10px;
}

.header__link {
  text-decoration: none;
  font-weight: bolder;
  color: black;
}

.header__item {
  display: inline-block;
}

.header__item:last-child {
  float: right;
  margin-right: 10px;
}

.header__nav {
  background-image: url('/120px-Yellow_icon.svg.png');
  background-size:  30px 30px;
  background-repeat: no-repeat;
  background-position: 176px 10px;
}

.main__nav {
  height: 100%;
}

.nav__block {
  display: flex;
  flex-wrap: wrap;
}

.nav__item {
  box-sizing: border-box;
}

.header__item + .header__item {
  margin-left: 20px;    
}

.nav__item:first-child {
  margin-top: 0;
}

.preview {
  height: 100%;
  width: 100%;
}

.nav__description {
  display: flex;
  flex-wrap: wrap;
  margin-left: 10px;
}

.title {
  margin: 0;
}

.desc {
  margin: 0;
  color: gray;
  font-family: sans-serif;
}

.ad {
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) {
    .col-3 {
    width: 23%;
    height: 230px;
    box-sizing: border-box;
  }
  
  .col-12 {
    width: 100%;
    height: 230px;
  }

  .nav__item {
    margin: 0 auto;
  }

  .nav__item:nth-child(5) {
    margin: 30px 1.3%;
  }

  .nav__img {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
  }

  .nav__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    margin: 0;
    height: 40%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  .col-m-4 {
    width: 30%;
    height: 50%;
    box-sizing: border-box;
  }

  .col-m-12 {
    width: 100%;
    height: 100px;
  }

  .m-hidden {
    display: none;
  }

  .nav__item {
    margin: 0 auto;
    height: 260px;
  }

  .nav__img {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
  }
    
  .nav__item:nth-child(5) {
    margin: 30px 1.5%;
  }

  .nav__description {
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    margin: 0;
    height: 40%;
  }

}

@media only screen and (min-width: 320px) and (max-width: 767px) {
  .header__item:nth-child(2),
  .header__item:nth-child(7) {
    display: none;
  }
  
  .col-s-6 {
    width: 100%;
    height: 105px;
    margin: 10px 10px;
  }

  .col-s-12 {
    width: 100%;
    height: 300px;
    margin: 10px 10px;
  }

  .nav__item {
    display: flex;
  }

  .s-hidden {display: none;}
  
  .nav__img {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
  }

    .nav__description {
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    }

    .header__nav {
      background-image: url('/120px-Yellow_icon.svg.png');
      background-size:  30px 30px;
      background-repeat: no-repeat;
      background-position: 146px 10px;
    }
}