body {
  background-color: rgb(226, 233, 235);
}

.main {
  width: 1280px;
  height: auto;
  margin: 0 auto;
}

.header {
  position: relative;
  box-shadow:  0 5px 6px rgba(5, 24, 49, 0.5);
  background-color: rgb(255, 255, 255);
  width: 1280px;
  height: 80px;
  display: flex;
}

.header__socials {
  margin: 0;
  padding-left: 50px;
  position: relative;
  display: inline-block;
}

.socials__icon {
  box-shadow:  0 5px 6px rgba(5, 24, 49, 0.5);
  margin: 10px;
  background-color: black;
  height: 30px;
  width: 30px;
  border-radius: 100px;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
  opacity:0.8;
  position: relative;
  display: inline-block;
}

.socials__icon:hover {
  transform: scale(1.5);
  opacity:1;
}

.socials__link {
  text-decoration: none;
  color: rgb(255, 255, 255);
  position: absolute;
  padding-left: 35%;
  top: 50%;
  display: inline-block;
  transform: translate(0, -50%); 
}

.header__address {
  margin-left: auto;
}

.header__address + .header__address {
  margin-left: 100px;
  margin-right: 100px;
}


.address__img {
  float:left;
  height: 24px;
  width: 24px;
}

.header-second {
  width: 1280px;
  top:10px;
  position: relative;
  display: inline-flex;
}
.logo {
  margin: 0 50px;
  padding: 0px 20px;
  position: relative;
  display: inline-block;
}
.logo a {
  font-weight: 1000;
  font-family: helvetica;
  font-size: 50px;
  text-decoration: none;
  color: rgb(255, 115, 0);
  -webkit-transition: all 2s ease;;
  -moz-transition: all 2s ease;;
  -o-transition: all 2s ease;;
  transition: all 2s ease;
}
.logo a:hover {
  background: linear-gradient(45deg, rgb(255, 106, 7) 33%, rgb(230, 164, 66) 66%, rgb(255, 172, 18));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.header-second form {
  padding: 17px 0;
  margin: 0px auto;
  width: 400px;
  position: relative;
  display: inline-block;

}
.header-second form input {
  width: 400px;
  height: 40px;
  padding-left: 10px;
  border: 2px solid rgb(155, 155, 155);
  border-radius: 5px;
  outline: none;
  background: rgb(255, 255, 255);
  color: rgb(158, 156, 156);
}
.header-second form button {
  font-size: 15px;
  font-weight: bold;
  color: white;
  position: absolute;
  right: 0px;
  width: 80px;
  height: 40px;
  border: none;
  background: rgb(255, 145, 0);
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
.links {
  padding: 25px 20px;
  margin: 0px auto;
}
.links a {
  padding: 0 20px;
  font-weight: bolder;
  color: black;
  font-style: normal;
  opacity: 0.8;
}
.links a:hover {
  opacity: 1;
  color: black; 
}
.nav {
  background-color: rgb(255, 255, 255);
  margin: 0 auto;
  height: 60px;
  width: 1280px;
}
.nav ul {
  box-shadow: 0 5px 6px rgba(0,0,0,0.5);
  width: 1280px;
  height: 60px;
  margin-left: 0;
  padding-left: 0;
  list-style-type: none;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
  text-align: center;
}
.nav ul li{
  display: inline-block;
}
.nav ul li a {
  padding: 0 10px;
  top: 18px;
  position: relative;
  display: inline;
  text-decoration: none;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  -webkit-transition: all 0.3s ease;;
  -moz-transition: all 0.3s ease;;
  -o-transition: all 0.3s ease;;
  transition: all 0.3s ease;
}
.nav ul li a:hover {
  background-color:rgb(255, 115, 0);
  font-size: 22px;
  color: white;
  padding: 19px 26px;
  opacity: 1;
  box-shadow:  0 5px 6px rgba(0,0,0,0.5);
  border-radius: 10px;
}
.main-content {
  display: flex;
  margin: 0 auto;
}
.nav__phones {
  width: 350px;
  height: auto;
  padding: 0 70px 0px;
  display: inline-block;
  position: relative;
}
.nav__phones ul{ 
  list-style-type: none;  
}
.nav__phones ul li {
  box-shadow:  0 5px 6px rgba(5, 24, 49, 0.5);
  padding: 10px 5px 10px;
  background-color: white;
  height: 50px;
  width: 350px;
}
.nav__phones ul li a {
  font-size: 20px;
  padding:5%;
  display: block;
  position: relative;
  text-decoration: none;
  color: black;
  height: 50px;
}
.nav__phones ul li:hover {
  box-shadow: inset 0px 1px 10px 0px rgb(143, 165, 170);
  background-color: rgb(223, 228, 230);
}
.property {
  margin:0 auto;
  font-weight: bold;
}
.products {
  padding-top: 20px;
  margin: 0 auto;
  width: 700px;
  height: auto;
  position: relative;
  display:inline-block;
}
.sorted {
  margin: 40px 0px;
  box-shadow:  0 1px 1px rgba(5, 24, 49, 0.5);
  border-radius: 10px;
  background-color: rgb(214, 220, 228);
  width: 700px;
  height: 50px;
  position: relative;
  display: inline-block;
}
.sorted label {
  padding: 20px;
  position: relative;
  display: inline-block;
  padding: 1.5%;
}
.sorted form {
  color: rgb(9, 83, 167);
  font-size:18px;
  padding: 20px;
  position: relative;
  display: inline;
}
.sorted select {
  position: relative;
  display:inline-block;
  width: 100px;
  border-radius: 5px;
  border: 2px solid rgb(155, 155, 155);
  background-color: rgb(224, 238, 250);
  outline: none;
}
.sorted option {
  background-color: rgb(224, 238, 250);
  border-radius: 5px;
  outline: none;
}
.sorted span {
  color: rgb(9, 83, 167);
  padding-left: 100px;
}
.content {
  position: relative;
  display: inline-block;
  box-shadow:  0 5px 6px rgba(5, 24, 49, 0.5);
  background-color: rgb(235, 239, 245);
  height: auto;
  width: 700px;
  border-radius: 10px;

}
.product-property img {
  width: auto;
  height: 40px;
}
.product {
  display: flex;
  flex-direction: column;
  padding-left: 25px;
  padding-top: 10px; 
}
.product-1 {
  padding-left: 0;
  border-bottom-width: 1px;
  border-bottom-color: rgb(58, 78, 107);
  border-bottom-style: solid;
}
.product-img {
  width: 140px;
  float: left;
}
.showpic-big img {
  width: 100px;
  height: 100px;
  border: 4px solid #ffffff;
  border-radius: 7px;
  box-shadow:  0 5px 6px rgba(5, 24, 49, 0.5);
}
.showpic-small {
  padding-left: 6px;
}
.showpic-small img {
  margin:10px 3px;
  width: 25px;
  height: 25px;
  display: inline-block;
  border: 1px solid #ffffff;
  border-radius: 2px;
  box-shadow:  0 2px 2px rgba(5, 24, 49, 0.5);
}
.showpic-small p{
  margin:0 auto;
  padding-left: 15px;
  padding-bottom: 10px;
}
.product-property {
  width: 400px;
  position: absolute;
  padding-left: 10px;
  margin-top:-20px;
  display: inline-block;
}