mixin menu-template(ul__class, li__class, a__class, ...items)
    ul(class=ul__class)
        each item in items
            li(class=li__class)
                a(class=a__class href='#')= item      


 
