mixin section-line(index, value)
  .section__line.section-line
    span.section-line__index= index
    span.section-line__value= value

mixin section-line--disabled(index, value)
  .section__line.section-line.section__line--disabled
    span.section-line__index= index
    span.section-line__value= value